config/
debug/
*.sublime-project
*.sublime-workspace
build.properties
src/aura/testApplication/**
src/aura/testApplicationDepends/**
src/aura/testComponent/**
src/classes/LtngTestComponentController.*
src/pages/LightningOutTest.*
