.THIS .slds-select_container:before, .THIS .slds-select_container:after {
	pointer-events: none;
}

.THIS:not(.slds-has-error) .is-editable.has-focus select:not(:focus) {
	border-color: #1589ee;
	background-color: white;
	box-shadow: 0 0 3px #0070D2;
	background-clip: padding-box;
}

.THIS.slds-has-error .is-editable.has-focus select:not(:focus),
.THIS .is-editable.has-focus.has-error select:not(:focus) {
	border-color: #c23934;
	background-color: white;
	box-shadow: #c23934 0 0 0 1px inset, 0 0 3px #0070D2;
	background-clip: padding-box;
}

.THIS .is-editable input {
	background-color: white;
	position: absolute;
	border: 0;
	outline: none;
	left: 2px;
	top: 2px;
	width: calc(100% - 28px);
	height: calc(100% - 4px);
	padding: 0 0 0 11px;
}

.THIS .is-editable input::-ms-clear {
	display: none;
}

.THIS .is-editable input[disabled] {
	background-color: #e9eaec;
	cursor: not-allowed;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.THIS .is-editable select {
	color: white;
}

.THIS .is-editable select[disabled] {
	color: transparent;
}

.THIS .is-editable option {
	color: #16325c;
}

.THIS .is-editable option[disabled] {
	color: graytext;
}

.THIS .faux-option {
	position: absolute;
	color: graytext;
	pointer-events: none;
	margin-top: 6px;
	margin-left: 11px;
}